<h1><%= @list.name %></h2>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<%= link_to "Create New Bookmark", new_list_bookmark_path(@list) %>
<% @list.bookmarks.each do |bookmark|%>
<%= bookmark.movie.title %>
<%= image_tag bookmark.movie.poster_url %>
<%= bookmark.comment %>
<%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<% end %>


<%= link_to "Back", lists_path %>

<%# a button to add a new movie which routes to new movie page form %>

<%# display movies in this list with all the details
be able to book mark movies here i think %>
